<div class="app-section-header">
  <h2 class="app-section-title">My Moves</h2>
</div>
<!--
<div class="moves" *ngFor="let style of organizedMoves">
  <h3 (click)="toggleCollapse(style)">{{ style }}></h3>
  <div class="moves-container" [ngClass]="status[style] ? 'collapsed' : ''">
    <div class="move-wrapper" *ngFor="let move of style">
      <span class="id-badge">{{ move.id }}</span>
      <span class="name">{{ move.name }}</span>
    </div>
  </div>
</div> -->

<!-- For when I figure out how to  programmitcally loop through all moves. -->
<div *ngIf="selectedMove" class="selected-move-wrapper">
  <h3>{{selectedMove.name | uppercase}} Details:</h3>
  <div><span>id: </span>{{selectedMove.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMove.name" placeholder="name" />
    </label>
  </div>{{selectedMove.style}}
</div>
<div class="moves" *ngFor="let style of groupedMoves">
  <h3 (click)="toggleCollapse(style)">{{ style[0].style }}<span class="section-collapse-arrow"
      [ngClass]="status[style] ? 'collapsed' : ''">></span>
  </h3>
  <div class="moves-container" [ngClass]="status[style] ? 'collapsed' : ''">
    <div class="move-wrapper" [class.selected]="move === selectedMove" *ngFor="let move of style"
      (click)="onSelect(move)">
      <span class="id-badge">{{ move.id }}</span>
      <span class="name">{{ move.name }}</span>
    </div>
  </div>
</div>

<!--
<div *ngFor="let move of moves">
  <h2>{{ move.name | uppercase}} Details</h2>

  <div>
    <span>id:</span> {{ move.id }}
  </div>

  <div>
    <label>style:
      <select [(ngModel)]="move.style" name="style" id="cars">
        <option value="Top Rock">Top Rock</option>
        <option value="Footwork">Footwork</option>
        <option value="Floor Rock">Floor Rock</option>
        <option value="Power">Power</option>
        <option value="Freeze">Freeze</option>
        <option value="Burn">Burn</option>
        <option value="Blowup">Blowup</option>
        <option value="Drop">Drop</option>
        <option value="Hop">Hop</option>
        <option value="Floats">Floats</option>
      </select>
    </label>
  </div>

  <div>
    <label>name:
      <input [(ngModel)]="move.name" placeholder="name">
    </label>
  </div>
</div> -->
