:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  width: 85vw;
  margin: 0 auto;
}

.selected-move-container {
  background: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px dotted transparent;
  box-shadow: none;
  height: auto;
  max-height: 0vw;
  transition: max-height .3s ease, border .3s ease, box-shadow .3s ease;

  .selected-move-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px;

    .selected-move-header {
      margin: 0;
    }

    .close-button {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 12px;
      opacity: 0.2;
      height: 14px;
      border: 1px solid transparent;
      width: 12px;
      text-align: center;
      background: transparent;
      cursor: pointer;
      transition: background .3s ease, opacity .3s ease;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      .close-button {
        opacity:0.5;
        background: #eee;
      }
    }
  }

  &.shown {
    max-height: 200px;
    border: 1px dotted rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(33, 33, 33, .2);
  }
}

.section-collapse-arrow {
  display: inline-block;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform .2s linear;

  &.collapsed {
    transform: rotate(0);
  }
}

.moves-container {
  background: white;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 200vw;
  overflow: hidden;
  transition: max-height .3s ease;

  &.collapsed {
    max-height: 0px;
  }
}

.move-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  box-shadow: none;
  transition: all .2s ease;

  &.selected {
    background:#e3f9f0;
  }

  &:hover {
    box-shadow: 0 0 7px rgba(33, 33, 33, .2);
    cursor: pointer;
  }

  .id-badge {
    padding: 10px;
    flex-basis: 30px;
    margin-right: 15px;
    text-align: center;
    background: #eee;
  }

  .name {
    flex: 1;
  }
}
